services:
  jupyter:
    build:
      context: .
      args:
        JUPYTER_IMAGE_VERSION: latest
    ports:
      - "8888:8888"
    volumes:
      - ./work:/home/jovyan/work
    environment:
      - JUPYTER_ENABLE_LAB=yes
      - GRANT_SUDO=yes
    user: jovyan