jupyterlab-git
jlab-enhanced-launcher
jupyter-ai[all]
jupyterlab_favorites
jupyter-archive
jupyterlabcodetoc
jupyterlab-code-formatter
stickyland
jupyterlab-unfold
jupyterlab-search-replace
jupyterlab-day
jupyterlab-night
jupyterlab-open-url-parameter
jupyterlab-fileopen