jupyterlab-git
jlab-enhanced-launcher
knowledgelab
jupyter-ai[all]
jupyterlab-github
jupyterlab_favorites
jupyterlab-cell-flash
jupyter-archive
jupyterlabcodetoc
jupyter-resource-usage
jupyterlab-code-formatter
stickyland
jupyterlab-unfold
jupyterlab-search-replace
jupyterlab-day
jupyterlab-night
jupyterlab-open-url-parameter
jupyterlab-fileopen